<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaxSearchResults</key>
	<integer>20</integer>
	<key>MediaNetApiKey</key>
	<string>kxgTlZ6Tig7nRy6qDvipG5PsL</string>
	<key>MediaNetURL</key>
	<string>http://ie-api.mndigital.com/</string>
</dict>
</plist>
